<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout-umum}"
      xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Webapp Service</title>
    <!--    <link th:href="">-->
</head>
<body>
<div layout:fragment="content">

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 th:text="${about}"></h1>
                    <p>lorem ipsum dolor...</p>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>