<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout-umum}"
      xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Webapp Service</title>
    <!--    <link th:href="">-->
</head>
<body>
<div layout:fragment="content">
    <br><br><br>
    <div class="container">
        <p th:text="@{|${kabupaten.kodeBps} : ${kabupaten.namaKabupaten}|} "></p>
    </div>
</div>

<!--@{|${provDetails.kodeBps} : ${provDetails.namaProvinsi}|}-->

</body>
</html>