<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout-umum}"
      xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Webapp Service</title>
    <!--    <link th:href="">-->
</head>
<body>
<div layout:fragment="content">
    <script type="text/javascript" th:src="@{/js/provinsijson.js}"></script>
    <section class="my-5">
        <br><br><br>
        <div>
            <form th:action="@{/savekec}" th:object="${kecamatan}" method="post">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="ID ( lebih dari 1000 )" th:field="*{idKecamatan}">
                        <span th:if="${#fields.hasErrors('idKecamatan')}" th:errors="*{idKecamatan}" class="text-warning"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Nama Kecamatan ( lebih dari 4 )" th:field="*{namaKecamatan}">
                        <span th:if="${#fields.hasErrors('namaKecamatan')}" th:errors="*{namaKecamatan}" class="text-warning"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nama Provinsi</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpicker" id="dataprovinsi" onchange="getKab(this.value)" th:field="*{idProvinsi}">
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <select id="datakabupaten" th:field="*{kodeKabupaten}">
                    </select>
                </div>
                <br><br>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">insert</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

</body>
</html>